
input{
    font-size: 40px;
    margin-left: 115px;
    margin-bottom: 4px;
    background-color: green;
    color: white;
    text-align: right;

}
button{
    font-size: 20px;
    background:grey ;
    padding: 30px;
    width: 119px;
    height: 60px;

}
table{
    border: 2px solid black;
    margin: auto;
}
h1{
    text-align:center ;
    
}