body{
 /* background-color: #000; */
}
.ab{
text-align: center;
padding: 0 15px;
background-color: gray;
}
.class{
    text-align: center;
    text-decoration:dashed;
}
h1{
    background-color: darkblue;
}
.class h1{
    background-color: orangered;
    color: blue;
    text-decoration: double;
}
.a{
    background-color: blueviolet;
}
.b{
    background-color: red;
}
.c{
    background-color: green;
}
select{
    padding: 25px;
    color: crimson;
    font-size: large;
}
#button{
    padding: 26px;
}